# Node modules
client/node_modules/
server/node_modules/

# Environment files
server/.env
client/.env

# Build folders
client/dist/
server/dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# npm debug
npm-debug.log*